@model SchoolSystem.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Password recovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="form-signin w-100 m-auto text-center">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="login-container p-4 shadow rounded">
            <h2 class="text-center mb-4">Password Recovery</h2>
            <form asp-action="ForgotPassword" method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Enter Your Email Address</label>
                    <input asp-for="Email" type="Email" class="form-control input-lg"/>
                </div>
                <label class="form-label" class="text-info">Enter your email to send a password reset link to it</label>
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary w-100">Send</button>
            </form>
        </div>
    </div>
</main>