@model SchoolSystem.Models.NewPasswordViewModel

@{
    ViewData["Title"] = "تغيير كلمة المرور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4 w-100" style="max-width: 500px;">
        <h3 class="text-center mb-4 text-primary">تغيير كلمة المرور</h3>

        <form asp-action="NewPassword" method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="LastPassword" class="form-label">كلمة المرور القديمة</label>
                <input asp-for="LastPassword" type="password" class="form-control" autocomplete="off" />
                <span asp-validation-for="LastPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">كلمة المرور الجديدة</label>
                <input asp-for="NewPassword" type="password" class="form-control" autocomplete="off" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">تأكيد كلمة المرور</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="off" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="card-footer d-flex justify-content-center gap-2 mt-3">
                    <button type="submit" class="btn btn-outline-primary w-50">
                        <i class="bi bi-shield-lock-fill me-1"></i> تحديث كلمة المرور
                    </button>
                    <a class="btn btn-outline-secondary ml-2" asp-controller="Profile" asp-action="IndexProfile">
                        <i class="bi bi-arrow-left"></i> عودة
                    </a>
                </div>

            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
