@model SchoolSystem.Data.TeacherLectuer

@{
    ViewData["Title"] = "Create";
}
<br>
<br>
<br>
<h1>Create Teacher At Lectuer</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="IdLectuer" class="control-label">Lectuer</label>
                <select asp-for="IdLectuer" class="form-control" asp-items="ViewBag.Lec" disabled></select>
                <input type="hidden" asp-for="IdLectuer" />
            <div class="form-group">

            <div class="form-group">
                <label asp-for="IdTeacher" class="control-label"></label>
                <select asp-for="IdTeacher" class ="form-control" asp-items="ViewBag.IdTeacher"></select>
            </div>
                <input type="submit" value="Create" class="btn btn-primary" />
                @{
                    var item = ViewBag.IdLectuer;
                    <a class="btn btn-dark" asp-controller="Lectuer" asp-action="ManagerLectuer" asp-route-idLectuer="@item">Back to List</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
