@model SchoolSystem.Data.TeacherLectuer

@{
    ViewData["Title"] = "Details";
}
<br>
<br>
<br>
<h1>Details</h1>

<div>
    <h4>TeacherLectuer</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLectuerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLectuerNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTeacherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTeacherNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
