@model SchoolSystem.Data.Grade

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Grade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstMonth" class="control-label"></label>
                <input asp-for="FirstMonth" class="form-control" />
                <span asp-validation-for="FirstMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mid" class="control-label"></label>
                <input asp-for="Mid" class="form-control" />
                <span asp-validation-for="Mid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondMonth" class="control-label"></label>
                <input asp-for="SecondMonth" class="form-control" />
                <span asp-validation-for="SecondMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <input asp-for="Activity" class="form-control" />
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Final" class="control-label"></label>
                <input asp-for="Final" class="form-control" />
                <span asp-validation-for="Final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdStudent" class="control-label"></label>
                <select asp-for="IdStudent" class ="form-control" asp-items="ViewBag.IdStudent"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTeacher" class="control-label"></label>
                <select asp-for="IdTeacher" class ="form-control" asp-items="ViewBag.IdTeacher"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdLectuer" class="control-label"></label>
                <select asp-for="IdLectuer" class ="form-control" asp-items="ViewBag.IdLectuer"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
