@model SchoolSystem.Data.StudentClass

@{
    ViewData["Title"] = "Add Student To Class";
}

<h1>Add Student To Class</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateStudentForClass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdClass" value="@ViewBag.IdClass"/>
            <div class="form-group">
                <label asp-for="IdStudent" class="control-label">Student name</label>
                <select asp-for="IdStudent" class="form-control select2" asp-items="ViewBag.IdStudent"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"  />
                @{
                    var item = ViewBag.IdStudent;
                        <a class="btn btn-dark" asp-controller="Menegar" asp-action="ManagerMenegarStudentInClass" asp-route-idClass="@ViewBag.IdClass">Back to The List</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                placeholder: "Search for a student...",
                allowClear: true
            });
        });
    </script>
}
