@model IEnumerable<SchoolSystem.Models.ManagerMenegarStudentInClassViewModel>

@{
    ViewData["Title"] = "Manager Studrnt";
}
<br>
<br>
<br>
<h1>Manager Student In Class</h1>
<hr />

@foreach(var item in Model){
    <a class="btn btn-success" asp-controller="Menegar" asp-action="CreateStudentWithClass" asp-route-idClass="@item.IdClass">Add Student To Class</a>
    <a class="btn btn-dark" asp-controller="Menegar" asp-action="ManagerMenegarClass">Back to List</a>
    break;
}
<br>
@if (Model.Any(m => m.StudentName != null))
{
    <hr/>
<table class="table">
    
    <thead>
        <tr>
            <th>Student</th>
            <th>Class</th>
            <th>Optiones</th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var TheClass in Model)
        {
            <tr >
                <td >
                    @{
                        var fullname = TheClass.StudentName.Split(' ');
                        var firstName = fullname.FirstOrDefault();
                        var lastName = fullname.LastOrDefault();
                        if(fullname.Length > 1){
                            lastName = fullname.LastOrDefault();
                            <p>@firstName - @lastName</p> 
                        }else{
                            @firstName
                        }
                    }
                </td>
                <td >
                    @TheClass.ClassroomName
                </td>
                <td>
                    <a class="btn btn-danger delete" data-id="@TheClass.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
}else{
    
<tr>
    <td colspan="3" class="text-center">No students in this class.</td>
</tr>
}

<form asp-controller="StudentClass" asp-action="Delete" id="DeleteStudentClass" >
    <input type="hidden" name="id" id="studentclassid" />
</form>

@section Scripts {
    <script>
        $(function() {
            // تفعيل DataTable
            new DataTable('.table');
            
            // التعامل مع زر الحذف
            $('.delete').click(function(e) {
                e.preventDefault();

                var btn = $(this);
                var id = btn.data('id');

                // استخدام SweetAlert لتأكيد الحذف
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // وضع الـ id في الحقل المخفي
                        $('#studentclassid').val(id);

                        // تقديم النموذج
                        $('#DeleteStudentClass').submit();

                        // إظهار رسالة النجاح
                        Swal.fire({
                            title: "Deleted!",
                            text: "Teacher has been deleted.",
                            icon: "success"
                        });
                    }
                });
            });
        });
    </script>
}